#!/bin/bash
# @author
# Sébastien Kéroack <code@sebastienkeroack.com>
# @copyright
# 2026 Sébastien Kéroack. All rights reserved.
# @license
# https://github.com/SebastienKeroack/sebastienkeroack-portfolio/blob/main/LICENSE
# Apache License
# ==============================================================================

# Prevent multiple inclusions
[ "${_PROJECT_ENVVAR_LOADED:-}" == "true" ] && return 0

echo "Loading environment variables..."
set -o allexport

# Determine the project root directory based on the location of this script
if [ -n "${BASH_SOURCE[0]:-}" ]; then
  PROJECT_ROOT=$(dirname "$(readlink -f "${BASH_SOURCE[0]}")")
else
  PROJECT_ROOT=$(pwd -P)
fi

# Load version
IFS= read -r PROJECT_VERSION < "$PROJECT_ROOT/version.txt"

# Node information
ARCH="amd64"

# Source environment variables
source "$PROJECT_ROOT/.env" || true

# Indicate that the environment variables have been loaded
_PROJECT_ENVVAR_LOADED="true"

set +o allexport
echo "Environment variables loaded."
