#!/bin/bash
# @author
# Sébastien Kéroack <code@sebastienkeroack.com>
# @copyright
# 2026 Sébastien Kéroack. All rights reserved.
# @license
# https://github.com/SebastienKeroack/sebastienkeroack-portfolio/blob/main/LICENSE
# Apache License
# ==============================================================================

# Bun environment variables
BUN_VERSION="1.3.10"
BUN_IMAGE="oven/bun:${BUN_VERSION}-alpine"

# NGINX environment variables
NGINX_IMAGE="cgr.dev/chainguard/nginx:latest"

# PHP environment variables
PHP_VERSION="8.4"
PHP_CI_VERSION="${PHP_VERSION//./}"
PHP_FPM_IMAGE="cgr.dev/chainguard/php:latest-fpm"
PHP_COMPOSER_VERSION="2.9.5"
PHP_COMPOSER_IMAGE="composer:${PHP_COMPOSER_VERSION}"

# Build environment variables
BUILD_RUN_LINT="true"
BUILD_RUN_TESTS="true"

# Container environment variables
# - reCAPTCHA testing key for local environments
RECAPTCHA_SECRET_KEY="6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe"
# - SMTP
# see: https://forwardemail.net/en/my-account/domains
# see: https://forwardemail.net/en/my-account/domains/<your-domain>/verify-smtp
SMTP_HOST="mail.example.com"
SMTP_NAME="Web Master"
SMTP_USERNAME="donotreply@example.com"
SMTP_PASSWORD="password-1234567890"
SMTP_CONTACT_RECIPIENT="contact@example.com"
