# ==============================================================================
# Ignore local development and environment files
# ==============================================================================

# Local configuration and environment files (not tracked in git)
.local/
.env

# ==============================================================================
# Editor and IDE files
# ==============================================================================

# Visual Studio Code workspace settings and folders
.vscode/*
!.vscode/extensions.json
!.vscode/settings_recommended.json

# ==============================================================================
# Build system and artifacts
# ==============================================================================

# General build and dependency
.husky/_/
build/

# PHP build and dependency
vendor/

# Bun build and dependency
bun.lock
node_modules/
