# Personal directories
.user/

# Secret variables (shared within the organization, not tracked in git)
.env

# General build and dependency
.husky/_/
.cache/
dist/

# PHP build and dependency
composer.lock
vendor/

# Bun build and dependency
bun.lock
node_modules/

# HTML/SHTML files
*.html
*.shtml
