# ==============================================================================
# Ignore local development and environment files
# ==============================================================================

# Local configuration and environment files (not tracked in git)
.local/
.env
.env.example

# ==============================================================================
# Editor and IDE files
# ==============================================================================

# Visual Studio Code workspace settings and folders
.vscode/
!.vscode/extensions.json
!.vscode/settings_recommended.json

# ==============================================================================
# Build system and artifacts
# ==============================================================================

# General build and dependency
.husky/_/
build/

# PHP build and dependency
composer.lock
vendor/

# Bun build and dependency
bun.lock
node_modules/

# ==============================================================================
# Translation files
# ==============================================================================

# Ignore translation files
**/language/*.php

# ==============================================================================
# HTML/SHTML files
# ==============================================================================

# HTML/SHTML files
*.html
*.shtml
