/* Copyright 2025 Sébastien Kéroack. All Rights Reserved.
============================================================================= */

@import url('../components/sun-and-moon.css');

footer {
  --padding-lr: min(5vw, 30px);

  display: flex;
  flex-direction: column;
  padding: 25px var(--padding-lr) 10px var(--padding-lr);
  width: 100%;

  /* Social | Theme | Language */
  > :nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Social */
    > nav {
      display: flex;
      gap: 10px;
    }

    /* Language */
    > select {
      background-color: var(--bg-color-03);
      border-radius: 4px;
      border-width: 2px;
      color: var(--font-color-01);
      cursor: pointer;
      height: 30px;
      padding-left: 4px;
    }

    /* Language */
    > :is(select:hover, select:focus) {
      border-color: var(--primary-color);
      transition: 0.3s;
    }
  }

  /* Copyright */
  > :nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media print {
  footer {
    bottom: 0;
    position: fixed;

    /* Social | Theme | Language */
    > :nth-child(1) {
      visibility: hidden;
    }
  }
}
