/* Copyright 2025 Sébastien Kéroack. All Rights Reserved.
============================================================================= */

.h-separator {
  background-color: var(--primary-color);
  border-radius: 1.5px;
  content: ' ';
  height: 1px;
  margin: 15px 0;
  width: 100%;
}

@media print {
  .h-separator {
    display: none;
    visibility: hidden;
  }
}
