/* Copyright 2025 Sébastien Kéroack. All Rights Reserved.
============================================================================= */

fieldset {
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}
